<!-- BEGIN block_chart -->
<div id="{DIV}" class="chdiv">
    <input type="hidden" id="chart_title" value="{CHART_TITLE}">
    <input type="hidden" id="chart_type" value="{CHART_TYPE}">
    <input type="hidden" id="chart_max_value" value="{CHART_MAX_VALUE}">
    <input type="hidden" id="chart_data_format" value="{CHART_DATA_FORMAT}">
    <input type="hidden" id="chart_currency_symbol" value="{CHART_CURR_SYMBOL}">
    <input type="hidden" id="chart_id" value="{CHART_ID}">
    <div id="div_title_category">{TITLE_CATEGORIES}</div>
    <div id="div_dataset">{TITLE_DATASETS}</div>
    <div id="div_value_dataset">{VALUE_DATASETS}</div>
    <div id="div_color_category">{COLOR_CATEGORY}</div>
    <div id="div_color_dataset">{COLOR_DATASET}</div>
    <div id="div_percent">{PERC}</div>
    <div class="chart-container" id="{DIV_CANVAS_ID}">
        <canvas id="{CHART_ID}"></canvas>
    </div>
</div>
<!-- END block_chart -->
